
@{
    ViewData["Title"] = "MyBooking";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    int check = 0;
}
 <!-- layout my rental car -->
<div class="myrental" style="margin: 5% auto 0;
    max-width: 1100px;">
        <div class="tabs">
		<div class="tab-item activity">
          <img class="tab__img" src="/img/waiting-room-read.png" alt="">
          Đang chờ xác nhận
        </div>
        <div class="tab-item ">
            <img class="tab__img" src="/img/confirm.png" alt="">
            Đã xác nhận
        </div>
        <div class="tab-item">
          <img class="tab__img" src="/img/icon-car.png" alt="">
           Đang thuê
        </div>
        <div class="tab-item">
            <img class="tab__img" src="/img/check-icon.png" alt="">
             Đã hoàn thành
        </div>
        <div class="tab-item">
            <img class="tab__img" src="~/img/check-icon.png" alt=""/>
            Đơn bị hủy
        </div>
        <div class="line"></div>
        </div>

        <div class="tab__content">
        <div class="yet tab__pane activity">
            <ul class="list__rental">
                @foreach (var item in ViewBag.ListCarRental)
                {
                    <li class="item__rental">
                        <a href="" class="link__rental">
                            <img src="/Images/Car/@item.Name_img" alt="" class="img__rental">
                            <div class="rental__container">
                                <h3 class="header">@item.CarName chỗ </h3>
                                <div class="body">
                                    <div class="body__left">
                                        <span class="body__day">
                                            <span class="day">Ngày nhận: <span class="data">@item.Rental</span></span>
                                            <span style="margin-left: 8px;" class="day">Ngày trả: <span class="data">@item.Return</span></span>
                                        </span>
                                        <p class="body__status">Địa chỉ nhận: <span class="status">@item.CarAddress</span></p>
                                        <p class="body__status">Tình trạng cọc: <span class="status">Đã chuyển</span></p>
                                        <p class="owner__status">Chủ xác nhận cọc: <span class="accept">Chưa</span></p>
                                    </div>
                                    <div class="body__right">
                                        <div class="price"><span class="data">@item.Price k</span></div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                }
            </ul>
        </div>
            <div class="all tab__pane">
                <ul class="list__rental">
                @foreach(var item in ViewBag.ListCarRental2)
                {
                    <form method="post">
                        <li class="item__rental">
                            <a href="" class="link__rental">
                                <img src="/Images/Car/@item.Name_img" alt="" class="img__rental">
                                <div class="rental__container">
                               
                                    <h3 class="header">@item.CarName chỗ </h3>
                                    <p class="body__status">Địa chỉ nhận: <span class="status">@item.CarAddress</span></p>
                                
                                


                                    <div class="body">
                                        <div class="body__left">
                                            <span class="body__day">
                                            <span class="day">Ngày nhận: <span class="data">@item.Rental</span></span>
                                            <span style="margin-left: 8px;" class="day">Ngày trả: <span class="data">@item.Return</span></span>
                                            </span>
                                            
                                            <p class="body__status">Tình trạng cọc: <span class="status">Đã chuyển</span></p>
                                        @if (@item.DepositStatus == 1)
                                            {
                                                <p class="owner__status">Chủ xác nhận cọc: <span class="accept">Chưa</span></p>
                                            }
                                            else
                                            {
                                                <p class="owner__status">Chủ xác nhận cọc: <span class="accept">Rồi</span></p>
                                            }

                                        </div>
                                        <div class="body__right">
                                        <div class="price"><span class="data">@item.Price k</span></div>
                                            @{
                                                check = 1;
                                            }
                                        <input type="hidden" name="check" value="@check">
                                        <input type="hidden" name="rentalid" value="@item.RentalId">
                                        <button type="submit" class="destroy__btn">Hủy thuê</button>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </form>
                }   
                </ul>
            </div>
            <div class="renting tab__pane ">
                <ul class="list__rental">
                @foreach(var item in ViewBag.ListCarRental3)
                {
                    <li class="item__rental">
                        <a href="" class="link__rental">
                            <img src="/Images/Car/@item.Name_img" alt="" class="img__rental">
                            <div class="rental__container">
                                <h3 class="header">@item.CarName chỗ </h3>
                                <div class="body">
                                    <div class="body__left">
                                        <span class="body__day">
                                            <span class="day">Ngày nhận: <span class="data">@item.Rental</span></span>
                                            <span style="margin-left: 8px;" class="day">Ngày trả: <span class="data">@item.Return</span></span>
                                        </span>
                                    </div>
                                    <div class="body__right">
                                        <div class="price"><span class="data">@item.Price k</span></div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                }
                </ul>
            </div>
            <div class="done tab__pane ">
                <ul class="list__rental">
                @foreach (var item in ViewBag.ListCarRental4)
                {
                    <li class="item__rental">
                        <a href="" class="link__rental">
                            <img src="/Images/Car/@item.Name_img" alt="" class="img__rental">
                            <div class="rental__container">
                                <h3 class="header">@item.CarName chỗ </h3>
                                <div class="body">
                                    <div class="body__left">
                                        <span class="body__day">
                                            <span class="day">Ngày nhận: <span class="data">@item.Rental</span></span>
                                            <span style="margin-left: 8px;" class="day">Ngày trả: <span class="data">@item.Return</span></span>
                                        </span>

                                    </div>
                                    <form method="get" asp-controller="Customer" asp-action="ReviewContent">
                                    <div class="body__right">
                                        <div class="price"><span class="data">@item.Price k</span></div>
    
                                        <input type="hidden" name="customerid" value="@item.CustomerId">
                                        <input type="hidden" name="carid" value="@item.CarId">
                                        <button type="submit" class="rental__btn">Đánh giá</button>
                                    </div>
                                    </form>
                                </div>
                            </div>
                        </a>
                    </li>
                }
                </ul>
            </div>
        <div class="all tab__pane">
            <ul class="list__rental">
                @foreach (var item in ViewBag.ListCarRental5)
                {
                    
                    <li class="item__rental">
                        <a href="" class="link__rental">
                            <img src="/Images/Car/@item.Name_img" alt="" class="img__rental">
                            <div class="rental__container">

                                <h3 class="header">@item.CarName chỗ </h3>
                                <p class="body__status">Địa chỉ nhận: <span class="status">@item.CarAddress</span></p>


                                @if(@item.RentalStatus == -3) {
                                    <h4>Đơn hàng đã được báo cáo lên admin !</h4>
                                }
                                else {
                                <div class="body">
                                    <div class="body__left">
                                        <span class="body__day">
                                            <span class="day">Ngày nhận: <span class="data">@item.Rental</span></span>
                                            <span style="margin-left: 8px;" class="day">Ngày trả: <span class="data">@item.Return</span></span>
                                        </span>

                                        <p class="body__status">Tình trạng cọc: <span class="status">Đã chuyển</span></p>
                                        @if (@item.DepositStatus == 1)
                                        {
                                            <p class="owner__status">Chủ xác nhận cọc: <span class="accept">Chưa</span></p>
                                        }
                                        else
                                        {
                                            <p class="owner__status">Chủ xác nhận cọc: <span class="accept">Rồi</span></p>
                                        }

                                    </div>
                                    <form method="post">
                                        <div class="body__right">
                                            <div class="price"><span class="data">@item.Price k</span></div>
                                            @{
                                                check = 2;
                                            }
                                            <input type="hidden" name="check" value="@check">
                                            <input type="hidden" name="rentalid" value="@item.RentalId">
                                            <button class="destroy__btn">Xác nhận nhận được cọc</button>
                                        </div>
                                    </form>

                                    <form method="post">
                                        <div>
                                            @{
                                                check = 3;
                                            }
                                            <input type="hidden" name="check" value="@check">
                                            <input type="hidden" name="rentalid" value="@item.RentalId">
                                            <button class="destroy__btn">Bạn chưa nhận được cọc ?</button>
                                        </div>
                                    </form>
                                </div>
                                }
                                
                            </div>
                        </a>
                    </li>                 
                }
            </ul>
        </div>
        </div>
    </div>


    <!-- layout my rental car -->
    <script>
        const $ = document.querySelector.bind(document) 
        const $$ = document.querySelectorAll.bind(document)

        const tabs = $$('.tab-item')
        const panes = $$('.tab__pane')

        const tabActive = $('.tab-item.activity')
        const line = $('.tabs .line')

        line.style.left = tabActive.offsetLeft + 'px';
        line.style.width = tabActive.offsetWidth + 'px'

        tabs.forEach((tab, index) => {
                var pane = panes[index]
            tab.onclick = () => {
                $('.tab-item.activity').classList.remove('activity')
                tab.classList.add('activity')

                line.style.left = tab.offsetLeft + 'px';
                line.style.width = tab.offsetWidth + 'px'

                $('.tab__pane.activity').classList.remove('activity')
                pane.classList.add('activity')
            }
        })
    </script>

