
@{
    ViewData["Title"] = "SearchCar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model ICollection<Car>

<div class="grid">
    <div class="rent__car">
        <div class="rent__header">
            <div class="rent__header-show">
                <span>Địa điểm: </span>
                <p class="rent__address">@ViewBag.Location</p>
            </div>
            <div class="rent__header-show">
                <span>Ngày nhận: </span>
                <p>@ViewBag.RentalDateTime</p>
            </div>
            <div class="rent__header-show">
                <span>Ngày trả: </span>
                <p>@ViewBag.ReturnDateTime</p>
            </div>
        </div>

        <!--  -->
        <form method="post">
        <div class="rent__body">
            <div class="grid">
                <div class="grid__row">
                    <div class="grid__column-4">
                        <div class="category">
                            <div class="line__form" style="padding-top: 20px;">
                                <label for="" class="label-text">Sắp xếp</label>
                                <span class="wrap__select " style="margin-top: 10px;">
                                    <select style="margin-bottom: 40px;" name="sortValue">
                                        <option value="1">Tối ưu</option>
                                        <option value="2">Giá từ thấp đến cao</option>
                                        <option value="3">Giá từ cao đến thấp</option>
                                    </select>
                                </span>
                            </div>

                            <div class="price__form" style="padding: 20px 0;">
                                <label for="" class="label-text">Mức giá</label>
                                <div class="slider__container" style="margin-top: 8px;">
                                    <input type="range" min="300" max="3000" value="1000" class="slider-price" id="mySlider-price" name="price">
                                    <p class="price__text">Giá thấp hơn: <span id="sliderValue"></span></p>
                                </div>
                            </div>

                            <div class="line__form" style="margin-top: 20px;">
                                <label for="" class="label-text">Hãng xe</label>
                                <span class="wrap__select " style="margin-top: 10px;">
                                    <select name="brand">
                                        <option value="All">Tất cả</option>
                                        <option value="Audi">Audi</option>
                                        <option value="Ford">Ford</option>
                                        <option value="Kia">Kia</option>
                                        <option value="BMW">BMW</option>
                                        <option value="Toyota">Toyota</option>
                                        <option value="Vinfast">Vinfast</option>
                                        <option value="Huyndai">Huyndai</option>
                                    </select>
                                </span>
                            </div>

                            <div class="line__form" style="margin-top: 20px;">
                                <label for="" class="label-text">Số chỗ</label>
                                <span class="wrap__select " style="margin-top: 10px;">
                                    <select name="capacity">
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                        <option value="11">11</option>
                                        <option value="12">12</option>
                                        <option value="13">13</option>
                                        <option value="14">14</option>
                                        <option value="15">15</option>
                                        <option value="16">16</option>
                                        <option value="17">17</option>
                                        <option value="18">18</option>
                                        <option value="19">19</option>
                                        <option value="20">20</option>
                                    </select>
                                </span>
                            </div>
                                <input type="hidden" name="location" value="@ViewBag.Location"/>
                                <input type="hidden" name="rentalDateTime" value="@ViewBag.RentalDateTime" />
                                <input type="hidden" name="returnDateTime" value="@ViewBag.ReturnDateTime" />
                                <button class="search__btn-2" asp-controller="Customer" asp-action="SearchCar">Lọc</button>
                        </div>
                    </div>
                    <div class="grid__column-8">
                        <div class="has__list">
                            <div class="list__container">

                                @{
                                   bool check = false;
                                 }

                                @foreach (var car in ViewBag.Car)
                                {
                                    <div class="car__rental active" style="margin-top: 0;">
                                            @foreach (var item in ViewBag.Img)
                                            {
                                                @if (item.car_id==car.car_id && !check)
                                                {
                                                    <div class="car__rental-imgfix">
                                                        <img src="~/Images/Car/@item.name_img" alt="" class="car__img">
                                                    </div>
                                                    check = true;
                                                }

                                            }
                                            @{
                                                check = false;
                                            }
                                    <div class="car__rental--body">
                                        <div class="car__name">@car.car_brand  @car.car_name</div>
                                        <div class="car__intro">
                                              <div class="car__star">
                                                    @{
                                                        int tong = 0;
                                                        int count = 0;
                                                    }

                                                    @foreach (var item in ViewBag.ReviewScore)
                                                    {
                                                        if (item.CarId == car.car_id)
                                                        {
                                                            tong += item.ReviewScore;
                                                            count++;
                                                        }
                                                    }

                                                    @if (count > 0)
                                                        {
                                                            double score = tong / count;
                                                            <span>@score</span>
                                                            <i class="fa-solid fa-star"></i>

                                                        }
                                                    </div>
                                            <div class="car__price">@car.car_price K</div>
                                        </div>
                                        <div class="car__address">
                                            <i class="fa-solid fa-location-dot"></i>
                                            <span>@car.car_address</span>
                                        </div>
                                    </div>
                                </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </form>
    </div>

</div>

<!-- modal -->

<div class="modals">
    @foreach(var car in ViewBag.Car)
    {
        <div class="modal">
            <div class="modal__container">
                <div class="modal__close">
                    <i class="fa-regular fa-circle-xmark"></i>
                </div>
                <div class="modal__body grid">
                    <div class="modal__content">
                        <h2 class="modal__header">@car.car_brand @car.car_name @car.car_model_year</h2>
                        <div class="slideshow-container">
                        @foreach (var item in ViewBag.Img)
                        {
                             @if (item.car_id==car.car_id)
                               {
                                <div class="mySlides fade">
                                        <img src="~/Images/Car/@item.name_img" alt="" style="" class="car-img">
                                </div>

                               }
                        }
                        </div>
                        <div class="modal__description">
                            <div class="modal__feature">
                                <p class="feature__text">Đặc điểm</p>
                                <div class="feature__body">
                                    <ul class="feature__body-1">
                                        <li>
                                            <i class="fa-solid fa-gas-pump"></i>
                                            <p>Số ghế: <span>@car.car_capacity</span></p>
                                        </li>
                                        <li>
                                            <i class="fa-solid fa-gas-pump"></i>
                                            <p>Nhiên liệu: <span>@car.car_fuel</span></p>
                                        </li>

                                    </ul>
                                    <ul class="feature__body-1">
                                        <li>
                                            <i class="fa-solid fa-gas-pump"></i>
                                            <p>Truyền động: <span>@car.car_tranmission</span></p>
                                        </li>
                                        <li>
                                            <i class="fa-solid fa-gas-pump"></i>
                                            <p>Mức tiêu thụ nhiên liệu: <span>@car.car_consume_fuel</span>lit/100km</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="modal__feature">
                                <p class="feature__text">Mô tả</p>
                                <div class="feature__body">
                                    <p class="description">
                                       @car.car_description
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="modal__description">
                            <div class="modal__feature">
                                <p class="feature__text">GIẤY TỜ THUÊ XE BẢN GỐC</p>
                                <ul class="feature__list">
                                    <li>
                                        <i class="fa-solid fa-id-card"></i>
                                        <span>CMND và GPLX (đối chiếu)</span>
                                    </li>
                                    <li>
                                        <span>Và chọn 1 trong 2 hình thức</span>
                                    </li>
                                    <li>
                                        <i class="fa-solid fa-passport"></i>
                                        <span>
                                            Passport (giữ lại)
                                            Hoặc
                                        </span>
                                    </li>
                                    <li>
                                        <i class="fa-sharp fa-regular fa-address-card"></i>
                                        <span>CCCD gắn chip (đối chiếu)</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="modal__feature">
                                <p class="feature__text" style="padding-right: 48px; flex: 3;">TÀI SẢN THUẾ CHẤP</p>
                                <p class="feature__rent" style="flex: 3; font-size: 14px;">
                                    15 triệu (tiền mặt/chuyển khoản cho chủ xe khi nhận xe)
                                    hoặc Xe máy (kèm cà vẹt gốc) giá trị 15 triệu
                                </p>
                            </div>
                            <div class="modal__feature">
                                <p class="feature__text" style="padding-right: 48px;">ĐIỀU KHOẢN</p>
                                <div class="feature__rent-1" style="flex: 4; font-size: 14px;">

                                    <p>@car.car_rule</p>
                                </div>
                            </div>
                        </div>
                        <div class="modal__description modal__owner">
                            <img src="~/img/user.png" alt="" class="Owner__img">
                            <h2 class="name__Owner">CHỦ XE</h2>
                          
                                <p class="Owner__name">@ViewBag.OwnerName</p>
                            
                            <p class="Owner__body">
                                <ul class="list__evalue">
                                    <li class="list__item">
                                        @{
                                            int tong = 0;
                                            int count = 0;
                                        }

                                        @foreach (var item in ViewBag.ReviewScore)
                                        {
                                            if (item.CarId == car.car_id)
                                            {
                                                tong += item.ReviewScore;
                                                count++;
                                            }
                                        }

                                        @if (count > 0)
                                        {
                                            
                                            double score = tong / count;
                                            <span class="evalue">@score</span>
                                            <i class="fa-solid fa-star"></i>
                                            
                                        }
                                    </li>
                                    <li class="list__item">
                                        <span class="quantity__ordered">@car.car_number_rented</span>
                                        <span style="color: #000;">chuyến</span>
                                    </li>
                                </ul>
                            </p>
                            <p class="Owner__footer">Lưu ý: số điện thoại của chủ xe sẽ được hiển thị sau khi đặt xe.</p>
                        </div>
                        <div class="modal__description evalue-description">
                            <h1 class="elvalue__header">Đánh giá</h1>
                            @foreach(var item in ViewBag.Review)
                            {
                                @if (item.CarId == car.car_id)
                                {
                                    <div class="elvalue__user">
                                        <img src="~/img/user.png" class="Owner__img" alt="">
                                        <div class="elvalue__content">
                                            <div class="elvalue__customer">
                                                <div class="elvalued">
                                                    <p class="name">@item.CustomerName</p>
                                                    <span class="stared">
                                                        @for (int i = 0; i < @item.ReviewScore; ++i)
                                                        {
                                                            <i class="fa-solid fa-star"></i>
                                                        }
                                                    </span>
                                                </div>
                                                <p class="elvalue__time">@item.ReviewDate</p>
                                            </div>
                                            <p class="elvalue__cmt">@item.ReviewContent</p>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                    <form method="get">
                    <div class="modal__rental">
                        <div class="modal__priceCar">
                            <span class="price">
                                <span>@car.car_price</span>
                            </span>  /
                            <span class="date">Ngày</span>
                        </div>

                        <div class="modal__rentalBody">
                            <div class="date__recieve">
                                <h4 class="date__header">Ngày Nhận:</h4>
                                <p class="date__description">@ViewBag.RentalDateTime</p>
                            </div>
                            <div class="date__recieve">
                                <h4 class="date__header">Ngày Trả:</h4>
                                <p class="date__description">@ViewBag.ReturnDateTime</p>
                            </div>

                            <div class="choose__method">
                                <div class="fill">
                                    <div class="col__left" style="width: 83%">
                                        <div class="line__form" style="margin-bottom: 0;">
                                            <label style="color: #000; font-weight: 700; font-size: 18px;" class="label">Phương thức đặt cọc</label>
                                            <span class="wrap__select ">
                                                <select>
                                                    <option value="Cọc 15 triệu đồng">Cọc 15 triệu đồng</option>
                                                    <option value="Cọc xe máy có cavet chính chủ">Cọc xe máy có cavet chính chủ</option>
                                                </select>
                                            </span>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="take__address">
                                <h4 class="address__header">Địa điểm giao nhận xe</h4>
                                <span class="address__specific">
                                    <i class="fa-sharp fa-solid fa-location-dot"></i>
                                    <span class="address__name">@car.car_address</span>
                                </span>
                            </div>

                                @{
                                    double totalPrice = car.car_price * ViewBag.NumberDateRented;
                                    totalPrice = Math.Round(totalPrice, 3);
                                }

                            <div class="total__price">
                                <h4 class="total__header">Chi tiết giá</h4>
                                <div class="price__car">
                                    <p class="text">Đơn giá thuê</p>
                                    <p class="money">@car.car_price k / ngày</p>
                                </div>
                                <div class="total__finish price__car">
                                    <p class="text">Tổng phí thuê xe</p>
                                    <p class="money">@totalPrice k <span style="font-weight: 700"></span></p>
                                </div>
                                <div class="price__car price__carTotal">
                                    <p class="text">Tổng cộng</p>
                                    <p class="money">@totalPrice k</p>
                                </div>
                            </div>

                            <input type="hidden" name="car_id" value="@car.car_id"> 
                            <input type="hidden" name="customer_id" value="@ViewBag.Customer_Id">
                            <input type="hidden" name="totalPrice" value="@totalPrice">
                            <input type="hidden" name="rentalDateTime" value="@ViewBag.RentalDateTime">
                            <input type="hidden" name="returnDateTime" value="@ViewBag.ReturnDateTime">
                                <button class="booking__btn" id="booking__btn" asp-controller="Customer" asp-action="ConfirmBooking">ĐẶT XE</button>
                            
                        </div>


                    </div>
                    </form>
                </div>

            </div>
        </div>
    }
</div>


 <!-- price rental car -->
    <script>
        var sliderPrice = document.getElementById("mySlider-price");
        var outputPrice = document.getElementById("sliderValue");
        outputPrice.innerHTML = sliderPrice.value;

        sliderPrice.oninput = function() {
        outputPrice.innerHTML = this.value;
}
    </script>

    <!-- rental -->
<script>
    const $ = document.querySelector.bind(document)
    const ListRental = document.querySelectorAll('.car__rental');
    const ListModals = document.querySelectorAll('.modal');
    const ListCloses = document.querySelectorAll('.modal__close');
    const ListBookings = document.querySelectorAll('#booking__btn')

    ListRental.forEach((carRent, index) => {
        let ListModal = ListModals[index]
        let ListClose = ListCloses[index]
        let ListBooking = ListBookings[index]
        const slides = ListModal.querySelectorAll('.mySlides');

        //scrollbar slider
        let slideIndex = 0;

        function showSlidesInModal() {
            for (let i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            slideIndex++;
            if (slideIndex > slides.length) {
                slideIndex = 1;
            }
            slides[slideIndex - 1].style.display = "block";
            setTimeout(showSlidesInModal, 4000);
        }
        carRent.onclick = () => {
            $('.car__rental.active').classList.remove('active')
            carRent.classList.add('active')

            ListModal.classList.add('active')
            showSlidesInModal()

            ListClose.onclick = () => {
                ListModal.classList.remove('active')
            }

            ListBooking.onclick = () => {
                ListModal.classList.remove('active')
                $('#rent__page').classList.add('disable')
                $('#pay-success').classList.remove('disable');
                
            }
        }
    })
    
    

</script>
