
@{
    Layout = null;
}
@model MyOToVer1._2.Models.ViewModels.CarOwnerViewModels
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../font/fontawesome-free-6.1.1-web/css/all.min.css">
    <link rel="stylesheet" href="../css/admin.css">
    <title>Admin</title>
</head>
<body>

    <div class="main">
        <div class="header">
            <div class="navbar">
                <form method="get">
                    <button style="border: none; background-color: #F5F6FB;"><h3 class="navbar__name">ADMIN</h3></button>
                </form>
                <form method="post" action="@Url.Action("Logout", "Account", new { area = "" })">
                    <button type="submit" style="border: none; font-size: 18px; background-color: #F5F6FB;" class="navbar__logout">Đăng xuất <i class="fa-solid fa-arrow-right-from-bracket"></i></button>
                </form>
            </div>
        </div>

        <div class="container">
            <div class="grid">
                <div class="grid__row">
                    <div class="grid__column-3">
                        <nav class="category">
                            <h3 class="category__heading ">
                                <i class="category__heading-icon fas fa-list"></i>
                                DANH SÁCH
                            </h3>
                            <ul class="category__list">
                                <li class="category__item category__item-active">
                                    Chờ phê duyệt Chủ xe
                                </li>
                                <li class="category__item">
                                    Chờ phê duyệt sửa thông tin
                                </li>
                                <li class="category__item">
                                    Đơn hàng bị báo cáo
                                </li>
                                <li class="category__item">
                                    Xe đang cho thuê
                                </li>
                                <li class="category__item">
                                    Xe đang tạm dừng thuê
                                </li>
                                <li class="category__item">
                                    Tài Khoản bị khóa
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="list__admin">
                        <div class="active grid__column-9-1 admin-item">
                            <!-- approval car -->
                            <div class=" approval__car ">
                                <h1 class="myCar__header">DANH SÁCH XE</h1>
                                <div class="list__rental" style="height: auto;">
                                    @foreach(var car in ViewBag.ListCarWaitToAccept)
                                    {
                                        <li class="active item__rental approval__item " style="background-color: rgb(145, 185, 227, 0.08);">
                                            <div href="" class="link__rental">
                                                <img src="/img/huyndai4cho.png" alt="" class="img__rental">
                                                <div class="rental__contain">
                                                    <h3 class="rental__header">@car.car_brand @car.car_name @car.car_capacity chỗ @car.car_model_year</h3>
                                                    <div class="rental__name">
                                                        <span>Tên chủ xe: <span>@ViewBag.OwnerName</span></span>
                                                        <span class="contact">Liên lạc: <span>@ViewBag.OwnerContact</span></span>
                                                    </div>
                                                    <div class="rental__name">Địa chỉ: @car.car_address</div>
                                                </div>
                                            </div>
                                        </li>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="grid__column-9-1 admin-item">
                            <!-- update car -->
                            <div class=" approval__car ">
                                <h1 class="myCar__header">DANH SÁCH XE</h1>
                                <div class="list__rental" style="height: auto;">
                                    <li class="active item__rental edit__rental" style="background-color: rgb(145, 185, 227, 0.08);">
                                        <a href="" class="link__rental">
                                            <img src="/img/huyndai4cho.png" alt="" class="img__rental">
                                            <div class="rental__contain">
                                                <h3 class="rental__header">HuynDai 4 chỗ 2020</h3>
                                                <div class="rental__name">
                                                    <span>Tên chủ xe: <span>Trung Dong</span></span>
                                                    <span class="contact">Liên lạc: <span>0353504699</span></span>
                                                </div>
                                                <div class="rental__name">Địa chỉ: 12 Nguyễn Chánh, Hòa Khánh Bắc, Liên Chiểu</div>
                                            </div>
                                        </a>
                                    </li> 
                                    <li class="item__rental edit__rental" style="background-color: rgb(145, 185, 227, 0.08);">
                                        <a href="" class="link__rental">
                                            <img src="/img/huyndai4cho.png" alt="" class="img__rental">
                                            <div class="rental__contain">
                                                <h3 class="rental__header">HuynDai 4 chỗ 2020</h3>
                                                <div class="rental__name">
                                                    <span>Tên chủ xe: <span>Trung Dong</span></span>
                                                    <span class="contact">Liên lạc: <span>0353504699</span></span>
                                                </div>
                                                <div class="rental__name">Địa chỉ: 12 Nguyễn Chánh, Hòa Khánh Bắc, Liên Chiểu</div>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="item__rental edit__rental" style="background-color: rgb(145, 185, 227, 0.08);">
                                        <a href="" class="link__rental">
                                            <img src="/img/huyndai4cho.png" alt="" class="img__rental">
                                            <div class="rental__contain">
                                                <h3 class="rental__header">HuynDai 4 chỗ 2020</h3>
                                                <div class="rental__name">
                                                    <span>Tên chủ xe: <span>Trung Dong</span></span>
                                                    <span class="contact">Liên lạc: <span>0353504699</span></span>
                                                </div>
                                                <div class="rental__name">Địa chỉ: 12 Nguyễn Chánh, Hòa Khánh Bắc, Liên Chiểu</div>
                                            </div>
                                        </a>
                                    </li>
                                </div>
                            </div>
                        </div>
                        <div class=" grid__column-9-1 admin-item">
                            <!-- report car -->
                            <div class="report__car ">
                                <h1 class="myCar__header">DANH SÁCH TÀI KHOẢN</h1>
                                <div class="list__rental" style="height: auto;">
                                    <li class="item__rental">
                                        <a href="" class="link__rental">
                                            <img src="./img/huyndai4cho.jpg" alt="" class="img__rental">
                                            <div class="rental__contain">
                                                <h3 class="rental__header">HuynDai 4 chỗ 2020</h3>
                                                <div class="rental__name">
                                                    <span>Tên chủ xe: <span>Trung Dong</span></span>
                                                    <span class="contact">Liên lạc (chủ): <span>0353504699</span></span>
                                                </div>
                                                <div class="rental__name">
                                                    <span>Địa chỉ: <span>12 Nguyễn Chánh, Hòa Khánh Bắc, Liên Chiểu</span></span>
                                                    <span class="contact">Số chuyến: <span>10</span></span>
                                                </div>
                                                <div class="rental__name">
                                                    <div>
                                                        <span>Tên khách hàng: <span>Đức Huy</span></span>
                                                        <span style="display: block; margin-top: 12px;">Liên lạc (khách): <span>0344554691</span></span>
                                                        <span style="display: block; margin-top: 12px;">Thời gian đặt: <span>26/4/2023 -> 28/4/2023</span></span>
                                                    </div>
                                                    <span class="contact"><button class="lock">Khóa</button></span>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="item__rental">
                                        <a href="" class="link__rental">
                                            <img src="./img/huyndai4cho.jpg" alt="" class="img__rental">
                                            <div class="rental__contain">
                                                <h3 class="rental__header">HuynDai 4 chỗ 2020</h3>
                                                <div class="rental__name">
                                                    <span>Tên chủ xe: <span>Trung Dong</span></span>
                                                    <span class="contact">Liên lạc (chủ): <span>0353504699</span></span>
                                                </div>
                                                <div class="rental__name">
                                                    <span>Địa chỉ: <span>12 Nguyễn Chánh, Hòa Khánh Bắc, Liên Chiểu</span></span>
                                                    <span class="contact">Số chuyến: <span>10</span></span>
                                                </div>
                                                <div class="rental__name">
                                                    <div>
                                                        <span>Tên khách hàng: <span>Đức Huy</span></span>
                                                        <span style="display: block; margin-top: 12px;">Liên lạc (khách): <span>0344554691</span></span>
                                                        <span style="display: block; margin-top: 12px;">Thời gian đặt: <span>26/4/2023 -> 28/4/2023</span></span>
                                                    </div>
                                                    <span class="contact"><button class="lock">Khóa</button></span>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="item__rental">
                                        <a href="" class="link__rental">
                                            <img src="./img/huyndai4cho.jpg" alt="" class="img__rental">
                                            <div class="rental__contain">
                                                <h3 class="rental__header">HuynDai 4 chỗ 2020</h3>
                                                <div class="rental__name">
                                                    <span>Tên chủ xe: <span>Trung Dong</span></span>
                                                    <span class="contact">Liên lạc (chủ): <span>0353504699</span></span>
                                                </div>
                                                <div class="rental__name">
                                                    <span>Địa chỉ: <span>12 Nguyễn Chánh, Hòa Khánh Bắc, Liên Chiểu</span></span>
                                                    <span class="contact">Số chuyến: <span>10</span></span>
                                                </div>
                                                <div class="rental__name">
                                                    <div>
                                                        <span>Tên khách hàng: <span>Đức Huy</span></span>
                                                        <span style="display: block; margin-top: 12px;">Liên lạc (khách): <span>0344554691</span></span>
                                                        <span style="display: block; margin-top: 12px;">Thời gian đặt: <span>26/4/2023 -> 28/4/2023</span></span>
                                                    </div>
                                                    <span class="contact"><button class="lock">Khóa</button></span>
                                                </div>
                                            </div>
                                        </a>
                                    </li>

                                </div>
                            </div>
                        </div>
                        <div class=" grid__column-9 admin-item">
                            <!-- car renting -->
                            <div class=" grid">
                                <div class="grid__row">
                                    @foreach(var car in ViewBag.ListCarRenting)
                                    {
                                        <div class="grid__column-3-3">  
                                                <div class="car">
                                                    <img src="/img/huyndai4cho.png" alt="" class="car__img">
                                                    <div class="car__body">
                                                        <div class="car__name">@car.Car.car_brand @car.Car.car_name @car.Car.car_model_year</div>
                                                        <div class="car__info">
                                                            <div class="car__info-1">
                                                                <div class="car__nameOwner">Sở hữu: <span class="car-active">@car.Customer.Name</span></div>
                                                                <div class="car__contact">Liên lạc: <span class="car-active">@car.Customer.Contact</span></div>
                                                            </div>
                                                            <div class="car__info-2">Chuyến: <span class="car-active">@car.Car.car_number_rented</span></div>
                                                        </div>
                                                        <div class="car__foot">
                                                            <div class="car__address">Địa chỉ: <span class="car-active">@car.Car.car_address</span></div>
                                                            <div class="car__price"><span class="car-active">@car.Car.car_price k</span></div>
                                                        </div>
                                                    </div>
                                                </div>
                                        </div>
                                     }           
                                </div>
                            </div>
                        </div>
                        <div class=" grid__column-9-1 admin-item">
                            <!-- pause car -->
                            <div class="pause__car ">
                                <h1 class="myCar__header">DANH SÁCH XE</h1>
                                <div class="list__rental" style="height: auto;">
                                    @foreach (var car in ViewBag.ListCarPauseToRent)
                                    {
                                        <li class="item__rental" style="background-color: rgb(145, 185, 227, 0.08);">
                                            <a href="" class="link__rental">
                                                <img src="img/huyndai4cho.png" alt="" class="img__rental">
                                                <div class="rental__contain">
                                                    <h3 class="rental__header">@car.Car.car_brand @car.Car.car_name @car.Car.car_capacity chỗ @car.Car.car_model_year</h3>
                                                    <div class="rental__name">
                                                        <span>Tên chủ xe: <span>@car.Customer.Name</span></span>
                                                        <span class="contact">Liên lạc: <span>@car.Customer.Contact</span></span>
                                                    </div>
                                                    <div class="rental__name">
                                                        <span>Địa chỉ: <span>@car.Car.car_address</span></span>
                                                        <span class="contact">Số chuyến: <span>@car.Car.car_number_rented</span></span>
                                                    </div>

                                                </div>
                                            </a>
                                        </li>
                                    }                                  
                                </div>
                            </div>
                        </div>
                        <div class=" grid__column-9-1 admin-item">
                            <!-- lock car -->
                            <div class="lock__car ">
                                <h1 class="myCar__header">DANH SÁCH TÀI KHOẢN</h1>
                                <div class="list__rental" style="height: auto;">
                                    <li class="item__rental" style="background-color: rgb(145, 185, 227, 0.08);">
                                        <a href="" class="link__rental">
                                            <img src="./img/huyndai4cho.png" alt="" class="img__rental">
                                            <div class="rental__contain">
                                                <div class="rental__name">
                                                    <span>Tên tài khoản: <span>Trung Dong</span></span>
                                                    <span class="contact">Liên lạc: <span>0353504699</span></span>
                                                </div>
                                                <div class="rental__name">
                                                    <span>Địa chỉ: <span>12 Nguyễn Chánh, Hòa Khánh Bắc, Liên Chiểu</span></span>
                                                    <span class="contact">Tổng Số chuyến: <span>10</span></span>
                                                </div>
                                                <div class="rental__name">
                                                    <span> <span></span></span>
                                                    <span class="contact"><button class="lock">Hủy Khóa</button></span>
                                                </div>
                                            </div>
                                        </a>
                                    </li>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="modals">
            @foreach(var car in ViewBag.ListCarWaitToAccept)
            {
                <div class="modal">
                    <div class="register__driver" style="min-height: 1000px;">
                        <div class="register__content">
                            <div class="content__body">
                                <h6 class="register__header" style="margin-bottom: 0px;">Thông tin tài khoản</h6>
                                <div class="fill">
                                    <div class="col__left mt-32px">
                                        <div class="line__form">
                                            <label for="" class="label">Số tài khoản</label>
                                            <input placeholder=@ViewBag.OwnerNumberAccount disabled class="register__input card__input" type="text" class="register__input">
                                        </div>
                                    </div>
                                    <div class="col__right mt-32px">
                                        <div class="line__form">
                                            <label for="" class="label">Tên Ngân Hàng</label>
                                            <input placeholder=@ViewBag.OnwerNameBanking disabled class="register__input card__input" type="text" class="register__input">
                                        </div>
                                    </div>
                                </div>

                                <h6 class="register__header" style="margin-bottom: 14px;">Ảnh CCCD</h6>
                                <div class="identity__card">
                                @foreach (var identityPhotos in ViewBag.IdentityPhotos)
                                {
                                    @if(identityPhotos.OwnerId == car.owner_id)
                                    {
                                            <img src="~/Images/IdentityPhotos/@identityPhotos.NameImg" alt="" class="identity__img">
                                    }
                                }
                                </div>
                                <h6 class="register__header" style="margin-top: 40px;">Biển số xe</h6>
                                <input placeholder=@car.car_number disabled class="register__input card__input" type="text" class="register__input">


                                <h6 class="register__header">Thông tin cơ bản</h6>
                                <div class="fill">
                                    <div class="col__left mt-32px">
                                        <div class="line__form">
                                            <label for="" class="label">Hãng Xe</label>
                                            <input placeholder=@car.car_brand disabled class="register__input card__input" type="text" class="register__input">

                                        </div>
                                    </div>
                                    <div class="col__right mt-32px">
                                        <div class="line__form">
                                            <label for="" class="label">Mẫu xe</label>
                                            <input placeholder=@car.car_name  disabled class="register__input card__input" type="text" class="register__input">

                                        </div>
                                    </div>
                                </div>
                                <div class="fill">
                                    <div class="col__left mt-32px">
                                        <div class="line__form">
                                            <label for="" class="label">Số ghế</label>
                                            <input placeholder=@car.car_capacity disabled class="register__input card__input" type="text" class="register__input">
                                        </div>
                                    </div>
                                    <div class="col__right mt-32px">
                                        <div class="line__form">
                                            <label for="" class="label">Năm sản xuất</label>
                                            <input placeholder=@car.car_model_year disabled class="register__input card__input" type="text" class="register__input">
                                        </div>
                                    </div>
                                </div>

                                <div class="fill">
                                    <div class="col__left mt-32px">
                                        <div class="line__form">
                                            <label for="" class="label">Truyền động</label>
                                            <input placeholder=@car.car_tranmission disabled class="register__input card__input" type="text" class="register__input">

                                        </div>
                                    </div>
                                    <div class="col__right mt-32px">
                                        <div class="line__form">
                                            <label for="" class="label">Loại nhiên liệu</label>
                                            <input placeholder=@car.car_fuel disabled class="register__input card__input" type="text">

                                        </div>
                                    </div>
                                </div>

                                <h6 style="margin-top: 18px;" class="register__header">Mức tiêu thụ nhiên liệu</h6>
                                <span style="color: #a9aaad; font-size: 15px;">Số nhiên liệu cho quãng đường 100km</span>
                                <input placeholder=@car.car_consume_fuel disabled class="register__input card__input" type="text">

                                <h6 style="margin-top: 18px;" class="register__header">Mô tả</h6>
                                <textarea class="textarea" disabled placeholder="@car.car_description"></textarea>

                                <h6 class="register__header" style="margin-top: 30px;">Đơn giá thuê mặc định</h6>
                                <span style="color: #a9aaad; font-size: 15px; font-weight: 300;">Đơn giá áp dụng cho tất cả các ngày. Bạn có thuể tuỳ chỉnh giá khác cho các ngày đặc biệt (cuối tuần, lễ, tết...) trong mục quản lý xe sau khi đăng kí.</span>
                                <span style="color: #a9aaad; font-size: 15px; font-weight: 300;
                                display: block; margin-top: 20px;">Nhập giá bạn muốn cho thuê (VD: 400k/ngày)</span>
                                <input placeholder=@car.car_price disabled class="register__input card__input" type="text">

                                <h6 class="register__header">Địa chỉ</h6>
                                <div class="fill">
                                    <div class="col__left ">
                                        <div class="line__form">
                                            <input placeholder="@car.car_address" disabled class="register__input card__input" type="text">
                                        </div>
                                    </div>
                                </div>

                                <h6 class="mt-32px register__header">Điều khoản thuê xe</h6>
                                <span style="color: #a9aaad; font-size: 15px; font-weight: 300;">Ghi rõ các yêu cầu để khách có thể thuê xe.</span>
                                <textarea disabled style="margin: 12px 12px 20px 0 ; width: 600px;" class="textarea" placeholder="@car.car_rule"></textarea>

                                <h6 class="mt-32px register__header">Ảnh xe</h6>
                                <div class="car__img">
                                    @foreach(var img in ViewBag.Img)
                                    {
                                        @if (img.car_id == car.car_id)
                                        {
                                            <img src="~/Images/Car/@img.name_img" alt="" class="car__img">
                                        }
                                    }
                                </div>
                            </div>

                        </div>

                        <div class="register__btn">
                        <form method="post">
                                <div>
                                    @{
                                        int check = 1;
                                    }
                                    <input type="hidden" name="check" value="@check">
                                    <input type="hidden" name="carId" value="@car.car_id">
                                    <button class="btn__edit ">Từ Chối</button>
                                 </div>
                        </form>
                        <form method="post">
                                <div >
                                    @{
                                        check = 2;
                                    }
                                <input type="hidden" name="check" value="@check">
                                <input type="hidden" name="carId" value="@car.car_id">
                                <button class="btn__edit" >Phê duyệt</button>
                            </div>
                        </form>
                        </div>
                    </div>

                </div>
            }
        </div>
        
        <div class="modalss">
        <div class="modal__edit">
            <div class="register__driver" style="min-height: 1000px;">
                <div class="register__content">
                    <div class="content__body">
                        <h6 style="margin-top: 18px;" class="register__header">Mô tả</h6>
                        <textarea class="textarea" disabled placeholder="Huyndai Elantra số tự động đăng kí tháng 06/2018. Xe gia đình mới đẹp, nội thất nguyên bản, sạch sẽ, bảo dưỡng thường xuyên, rửa xe miễn phí cho khách.
                        Xe rộng rãi, an toàn, tiện nghi, phù hợp cho gia đình du lịch. Xe trang bị hệ thống cảm biến lùi, gạt mưa tự động, đèn pha tự động, camera hành trình, hệ thống giải trí AV cùng nhiều tiện nghi khác..."></textarea>

                        <h6 class="register__header" style="margin-top: 30px;">Giá điều chỉnh</h6>
                        <input placeholder="400" disabled class="register__input card__input" type="text">

                        <h6 class="register__header">Địa chỉ</h6>
                        <div class="fill">
                            <div class="col__left ">
                                <div class="line__form">
                                    <input placeholder="12 Lê Duẩn, Hòa khánh Bắc, Hải Châu" disabled class="register__input card__input" type="text">
                                </div>
                            </div>
                        </div>

                        <h6 class="mt-32px register__header">Điều khoản thuê xe</h6>
                        <span style="color: #a9aaad; font-size: 15px; font-weight: 300;">Ghi rõ các yêu cầu để khách có thể thuê xe.</span>
                        <textarea disabled style="margin: 12px 12px 20px 0 ; width: 600px;" class="textarea" placeholder="Không sử dụng xe vào mục đích phi pháp. Lái xe cẩn thận, giữ xe sạch sẽ, trả xe đúng giờ. Phụ thu 500k nếu hút thuốc lá trong xe."></textarea>

                    </div>

                </div>

                <div class="register__btn">
                    <div class="wr-btn wr-btn--return wr-btn--return1">
                        <a class="btn btn-secondary btn--m" disabled="">Từ Chối</a>
                    </div>
                    <div class="wr-btn wr-btn--next wr-btn--next2">
                        <a class="btn btn-primary btn--m">Phê duyệt</a>
                    </div>
                </div>
            </div>

        </div>
        <div class="modal__edit">
            <div class="register__driver" style="min-height: 1000px;">
                <div class="register__content">
                    <div class="content__body">
                        <h6 style="margin-top: 18px;" class="register__header">Mô tả</h6>
                        <textarea class="textarea" disabled placeholder="Huyndai Elantra số tự động đăng kí tháng 06/2018. Xe gia đình mới đẹp, nội thất nguyên bản, sạch sẽ, bảo dưỡng thường xuyên, rửa xe miễn phí cho khách.
                        Xe rộng rãi, an toàn, tiện nghi, phù hợp cho gia đình du lịch. Xe trang bị hệ thống cảm biến lùi, gạt mưa tự động, đèn pha tự động, camera hành trình, hệ thống giải trí AV cùng nhiều tiện nghi khác..."></textarea>

                        <h6 class="register__header" style="margin-top: 30px;">Giá điều chỉnh</h6>
                        <input placeholder="400" disabled class="register__input card__input" type="text">

                        <h6 class="register__header">Địa chỉ</h6>
                        <div class="fill">
                            <div class="col__left ">
                                <div class="line__form">
                                    <input placeholder="12 Lê Duẩn, Hòa khánh Bắc, Hải Châu" disabled class="register__input card__input" type="text">
                                </div>
                            </div>
                        </div>

                        <h6 class="mt-32px register__header">Điều khoản thuê xe</h6>
                        <span style="color: #a9aaad; font-size: 15px; font-weight: 300;">Ghi rõ các yêu cầu để khách có thể thuê xe.</span>
                        <textarea disabled style="margin: 12px 12px 20px 0 ; width: 600px;" class="textarea" placeholder="Không sử dụng xe vào mục đích phi pháp. Lái xe cẩn thận, giữ xe sạch sẽ, trả xe đúng giờ. Phụ thu 500k nếu hút thuốc lá trong xe."></textarea>

                    </div>

                </div>

                <div class="register__btn">
                    <div class="wr-btn wr-btn--return wr-btn--return1">
                        <a class="btn btn-secondary btn--m" disabled="">Từ Chối</a>
                    </div>
                    <div class="wr-btn wr-btn--next wr-btn--next2">
                        <a class="btn btn-primary btn--m">Phê duyệt</a>
                    </div>
                </div>
            </div>

        </div>
        <div class="modal__edit">
            <div class="register__driver" style="min-height: 1000px;">
                <div class="register__content">
                    <div class="content__body">
                        <h6 style="margin-top: 18px;" class="register__header">Mô tả</h6>
                        <textarea class="textarea" disabled placeholder="Huyndai Elantra số tự động đăng kí tháng 06/2018. Xe gia đình mới đẹp, nội thất nguyên bản, sạch sẽ, bảo dưỡng thường xuyên, rửa xe miễn phí cho khách.
                        Xe rộng rãi, an toàn, tiện nghi, phù hợp cho gia đình du lịch. Xe trang bị hệ thống cảm biến lùi, gạt mưa tự động, đèn pha tự động, camera hành trình, hệ thống giải trí AV cùng nhiều tiện nghi khác..."></textarea>

                        <h6 class="register__header" style="margin-top: 30px;">Giá điều chỉnh</h6>
                        <input placeholder="400" disabled class="register__input card__input" type="text">

                        <h6 class="register__header">Địa chỉ</h6>
                        <div class="fill">
                            <div class="col__left ">
                                <div class="line__form">
                                    <input placeholder="12 Lê Duẩn, Hòa khánh Bắc, Hải Châu" disabled class="register__input card__input" type="text">
                                </div>
                            </div>
                        </div>

                        <h6 class="mt-32px register__header">Điều khoản thuê xe</h6>
                        <span style="color: #a9aaad; font-size: 15px; font-weight: 300;">Ghi rõ các yêu cầu để khách có thể thuê xe.</span>
                        <textarea disabled style="margin: 12px 12px 20px 0 ; width: 600px;" class="textarea" placeholder="Không sử dụng xe vào mục đích phi pháp. Lái xe cẩn thận, giữ xe sạch sẽ, trả xe đúng giờ. Phụ thu 500k nếu hút thuốc lá trong xe."></textarea>

                    </div>

                </div>

                <div class="register__btn">
                    <div class="wr-btn wr-btn--return wr-btn--return1">
                        <a class="btn btn-secondary btn--m" disabled="">Từ Chối</a>
                    </div>
                    <div class="wr-btn wr-btn--next wr-btn--next2">
                        <a class="btn btn-primary btn--m">Phê duyệt</a>
                    </div>
                </div>
            </div>

        </div>
        </div>

        <script>
            const $ = document.querySelector.bind(document);
            const $$ = document.querySelectorAll.bind(document);
            const categoryItems = $$('.category__item');
            const adminItems = $$('.admin-item');
            const approvalItems = $$('.approval__item');
            const EditItems = $$('.edit__rental');
            const modalEdits = $$('.modal__edit');
            const modalApprovals = $$('.modal');
            const Container = $('.container');
            let selectedCategoryIndex = 0;
            let selectedApprovalIndex = 0;

            // Event listener cho categoryItem
            categoryItems.forEach((categoryItem, index) => {
                categoryItem.onclick = () => {
                    // Xóa active class của categoryItem trước đó và thêm vào categoryItem được chọn
                    categoryItems[selectedCategoryIndex].classList.remove('category__item-active');
                    categoryItem.classList.add('category__item-active');
                    selectedCategoryIndex = index;

                    // Xóa active class của adminItem trước đó và thêm vào adminItem tương ứng với categoryItem được chọn
                    adminItems.forEach(adminItem => adminItem.classList.remove('active'));
                    adminItems[selectedCategoryIndex].classList.add('active');
                };
            });

            // Event listener cho editItem
            modalEdits.forEach((modalEdit, index) => {
                const editItem = EditItems[index];

                editItem.addEventListener('focusin', (event) => {
                    // Xóa active class của editItem và modalEdit
                    $('.edit__rental.active').classList.remove('active');
                    editItem.classList.add('active');
                    Container.classList.add('disable')

                    // Xóa active class của tất cả các modal trước khi thêm vào modal được click
                    modalEdits.forEach(modal => {
                        modal.classList.remove('active');
                    });
                    modalEdit.classList.add('active');
                });
            });

            // Event listener cho approvalItem
            approvalItems.forEach((approvalItem, index) => {
                const modalApproval = modalApprovals[index];

                approvalItem.onclick = () => {
                    // Xóa active class của approvalItem và modalApproval
                    $('.approval__item.active').classList.remove('active')
                    approvalItem.classList.add('active')
                    Container.classList.add('disable')

                    // Xóa active class của tất cả các modal trước khi thêm vào modal được click
                    modalApprovals.forEach(modal => {
                        modal.classList.remove('active');
                    });
                    modalApproval.classList.add('active');
                };
            });


        </script>

        <script>
            history.pushState(null, null, location.href);
            history.back();
            history.forward();
            window.onpopstate = function () { history.go(1); };


            
        </script>


</body>
</html>
