
@{
    ViewData["Title"] = "OwnerOrder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- layout my order car -->
<div class="myOrder" style="margin: 5% auto 0;
    max-width: 900px;">
    <div class="tabs">
        <div class="tab-item activity">
            <img class="tab__img" src="/img/waiting-room-read.png" alt="">
            Yêu cầu xác nhận
        </div>
        <div class="tab-item ">
            <img class="tab__img" src="/img/check.png" alt="">
            Đã xác nhận
        </div>
        <div class="tab-item">
            <img class="tab__img" src="/img/icon-car.png" alt="">
            Đang thuê
        </div>
        <div class="tab-item">
            <img class="tab__img" src="/img/check-icon.png" alt="">
            Đã hoàn thành
        </div>
        <div class="line"></div>
    </div>

    <div class="tab__content">
        <div class="all tab__pane activity">
            <ul class="list__rental">
                @foreach (var item in ViewBag.Car)
                {
                    <form method="post">
                    <li class="item__rental">
                        <div href="" class="link__rental">
                            <img src="/img/huyndai4cho.jpg" alt="" class="img__rental">
                            <div class="rental__container">
                                <h3 class="header">@item.CarName chỗ </h3>
                                <div class="body">
                                    <div class="body__left">
                                        <span class="body__day">
                                            <span class="day">Ngày nhận: <span class="data">@item.RentalDateTime</span></span>
                                            <span style="margin-left: 8px;" class="day">Ngày trả: <span class="data">@item.ReturnDateTime</span></span>
                                        </span>
                                        <p class="body__day body__name">
                                            <span class="day">Tên khách hàng: <span class="data">@item.CustomerName</span></span>
                                            <span style="margin-left: 8px;" class="day">Liên lạc:  <span class="data">@item.CustomerContact</span></span>
                                        </p>
                                            @{
                                                int count = 1;
                                            }
                                        <p class="body__status">Tình trạng cọc: <span class="status">Đã chuyển</span></p>
                                        <input type="hidden" name="count" value="@count">
                                        <input type="hidden" name="id" value="@item.rentalId">
                                        <input type="hidden" name="rentalDate" value="@item.RentalDateTime">
                                        <input type="hidden" name="returnDate" value="@item.ReturnDateTime">
                                        <p style="margin-top: 20px;" class="owner__status">Xác nhận đã nhận cọc: <span><button class="receive__btn">Xác nhận</button></span></p>
                                    </div>
                                    <div class="body__right">
                                        <div class="price"><span class="data">@item.Price k</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    </form>
                }
            </ul>
        </div>
        <div class="yet tab__pane">
            <ul class="list__rental">
                @foreach(var item in ViewBag.Car2)
                {
                    <form method="post">
                    <li class="item__rental">
                        <div href="" class="link__rental">
                            <img src="/img/huyndai4cho.jpg" alt="" class="img__rental">
                            <div class="rental__container">
                                <h3 class="header">@item.CarName chỗ </h3>
                                <div class="body">
                                    <div class="body__left">
                                        <span class="body__day">
                                            <span class="day">Ngày nhận: <span class="data">@item.RentalDateTime</span></span>
                                            <span style="margin-left: 8px;" class="day">Ngày trả: <span class="data">@item.ReturnDateTime</span></span>
                                        </span>
                                            @{
                                                int count = 2;
                                            }
                                        <p class="body__day body__name">
                                            <span class="day">Tên khách hàng: <span class="data">@item.CustomerName</span></span>
                                            <span style="margin-left: 8px;" class="day">Liên lạc:  <span class="data">@item.CustomerContact</span></span>
                                            <input type="hidden" name="count" value="@count">
                                            <input type="hidden" name="id" value="@item.rentalId">
                                            <input type="hidden" name="rentalDate" value="@item.RentalDateTime">
                                            <input type="hidden" name="returnDate" value="@item.ReturnDateTime">
                                        <p style="margin-top: 20px;" class="owner__status">Xác nhận đã giao xe cho khách: <span><button class="receive__btn">Xác nhận</button></span></p>

                                        </p>

                                    </div>
                                    <div class="body__right">
                                        <div class="price"><span class="data">@item.Price k</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    </form>
                }               
            </ul>
        </div>
        <div class="renting tab__pane ">
            <ul class="list__rental">
                @foreach(var item in ViewBag.Car3)
                {
                    <form method="post">
                    <li class="item__rental">
                        <div href="" class="link__rental">
                            <img src="/img/huyndai4cho.jpg" alt="" class="img__rental">
                            <div class="rental__container">
                                <h3 class="header">@item.CarName chỗ </h3>
                                <div class="body">
                                    <div class="body__left">
                                        <span class="body__day">
                                            <span class="day">Ngày nhận: <span class="data">@item.RentalDateTime</span></span>
                                            <span style="margin-left: 8px;" class="day">Ngày trả: <span class="data">@item.ReturnDateTime</span></span>
                                        </span>
                                         @{
                                                int count = 3;
                                          }
                                        <p class="body__day body__name">
                                            <span class="day">Tên khách hàng: <span class="data">@item.CustomerName</span></span>
                                            <span style="margin-left: 8px;" class="day">Liên lạc:  <span class="data">@item.CustomerContact</span></span>
                                        </p>
                                         <input type="hidden" name="count" value="@count">
                                         <input type="hidden" name="id" value="@item.rentalId">
                                         <input type="hidden" name="rentalDate" value="@item.RentalDateTime">
                                         <input type="hidden" name="returnDate" value="@item.ReturnDateTime">
                                        <p style="margin-top: 20px;" class="owner__status">Xác nhận đã thanh toán, nhận xe, trả cọc: <span><button class="receive__btn">Xác nhận</button></span></p>
                                    </div>
                                    <div class="body__right">
                                        <div class="price"><span class="data">@item.Price k</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    </form>
                }
            </ul>
        </div>
        <div class="done tab__pane ">
            <ul class="list__rental">
                @foreach(var item in ViewBag.Car4)
                {
                    <li class="item__rental">
                        <div href="" class="link__rental">
                            <img src="/img/huyndai4cho.jpg" alt="" class="img__rental">
                            <div class="rental__container">
                                <h3 class="header">@item.CarName chỗ </h3>
                                <div class="body">
                                    <div class="body__left">
                                        <span class="body__day">
                                            <span class="day">Ngày nhận: <span class="data">@item.RentalDateTime</span></span>
                                            <span style="margin-left: 8px;" class="day">Ngày trả: <span class="data">@item.ReturnDateTime</span></span>
                                        </span>

                                    </div>
                                     <div class="body__right">
                                        <div class="price"><span class="data">@item.Price k</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>


<!-- layout my rental car -->
<script>
    const $ = document.querySelector.bind(document)
    const $$ = document.querySelectorAll.bind(document)

    const tabs = $$('.tab-item')
    const panes = $$('.tab__pane')

    const tabActive = $('.tab-item.activity')
    const line = $('.tabs .line')

    line.style.left = tabActive.offsetLeft + 'px';
    line.style.width = tabActive.offsetWidth + 'px'

    tabs.forEach((tab, index) => {
        var pane = panes[index]
        tab.onclick = () => {
            $('.tab-item.activity').classList.remove('activity')
            tab.classList.add('activity')

            line.style.left = tab.offsetLeft + 'px';
            line.style.width = tab.offsetWidth + 'px'

            $('.tab__pane.activity').classList.remove('activity')
            pane.classList.add('activity')
        }
    })
</script>

